configuration {
	width: 20;
	lines: 5;
	font: "Roboto Mono 12";
	bw: 2;
	padding: 10;
	terminal: "termite -e";
/*	disable-history: true; Dunno about this one*/
/*	sidebar-mode: true; Dunno about this one, probably not*/
	separator-style: "none";
	hide-scrollbar: true;
color-normal: "#fbf1c7, #3c3836, #fbf1c7, #3c3836, #fbf1c7";
color-window: "#fbf1c7, #b8bb26, #b8bb26";
}
