configuration {
	width: 20;
	lines: 5;
	font: "Roboto Mono 12";
	bw: 2;
	padding: 10;
	terminal: "termite -e";
/*	disable-history: true; Dunno about this one*/
/*	sidebar-mode: true; Dunno about this one, probably not*/
	separator-style: "none";
	hide-scrollbar: true;
color-normal: "#eeeeee, #3c3c3b, #eeeeee, #3c3c3b, #eeeeee";
color-window: "#eeeeee, #90c94d, #90c94d";
}
