configuration {
	width: 20;
	lines: 5;
	font: "Roboto Mono 12";
	bw: 2;
	padding: 10;
	terminal: "termite -e";
/*	disable-history: true; Dunno about this one*/
/*	sidebar-mode: true; Dunno about this one, probably not*/
	separator-style: "none";
	hide-scrollbar: true;
color-normal: "#282828, #ebdbb2, #282828, #ebdbb2, #282828";
color-window: "#282828, #b8bb26, #b8bb26";
}
